.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 50px;
  color: black;
  font-size: 18px;
}

.quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 40px;
  color: black;
  font-size: 18px;
}

.shortSlider {
  width: 550px;
  margin: 0 auto;
}

span.center {
  display: table;
  margin: 0 auto;
  font-size: 25px;
}

span.alignleft {
  float: left;
  width: 33.33333%;
  text-align: left;
  font-size: 14px;
}
span.aligncenter {
  float: left;
  width: 33.33333%;
  text-align: center;
  font-size: 14px;
}
span.alignright {
  float: left;
  width: 33.33333%;
  text-align: right;
  font-size: 14px;
}

​span.smallfont {
  font-size: 14px;
}

label {
  font-size: 14px;
}

span.playTri {
  display: block;
  width: 50px;
  height: 100%;
}

span.centerTwo {
  display: table;
  margin: 0 auto;
}

Button.clc {
  border-color: #ffffff;
}

Button:focus,
Button:active {
  outline: none !important;
  box-shadow: none !important;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
